.event-container {
  background: #30336b;

  width: 100dvw;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  .event-header {
    width: 100%;
    padding: 50px 30px;
    font-size: 20px;
    font-weight: bold;
    color: #95afc0;
    display: flex;
    justify-content: center;
  }
  .event-grp {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    .show-more {
      height: 100px;
      width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        text-decoration: none;
        color: white;
        font-weight: bold;
        padding: 5px 10px;
        border-radius: 5px;
        background: #e84393;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        cursor: pointer;
        outline: none;
        border: none;
      }
    }
  }
}
